<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smewebsites.nuitblanche" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name> Build Bg Service 1 </name>
    <description>
        This application was made possible because of the generosity of Nuit Blanche Ottawa + Gatineau and SAW Gallery.
    </description>
    <author email="david@smewebsites.com" href="http://www.smewebsites.com">
        SMEWebsites
    </author> 
    <access origin="*" />
	<gap:plugin name="com.red_folder.phonegap.plugin.backgroundservice"  source="pgb" spec="2.0.0" />
</widget>
